.list-button-container {
  width: 700px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-text {
  position: absolute;
  width: 700px;
  height: 70px;
  display: flex;
  pointer-events: none;
  z-index: 2;
}

.list-text p {
  width: 150px;
  height: 70px;
  color: rgb(40, 100, 150);
  font-size: 17px;
  line-height: 70px;
  text-align: center;
}

.list-text p:nth-child(2) {
  width: 440px;
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid rgb(55, 145, 230);
}

.list-text p:last-child {
  width: 140px;
  padding-right: 20px;
  font-size: 16px;
  text-align: right;
}

.list-button-container button {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: white;
  border: none;
  border-bottom: 1.5px solid rgb(55, 145, 230);
  z-index: 1;
}

.list-button-container button.selected-list {
  background-color: rgba(55, 145, 230, 0.1);
}