/* Common -------------------------------------- */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: white;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  height: 100%;
}

.app-container {
  width: 100%;
  height: 100%;
}

button:hover {
  cursor: pointer;
}

/* Header -------------------------------------- */
.header-container {
  width: 100%;
  height: 60px;
  background-color: rgb(55, 145, 230);
  display: flex;
  justify-content: center;
}

.header-container button {
  width: 150px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: white;
  background-color: rgb(55, 145, 230);
  border: none;
}

.header-container button:hover {
  background-color: rgb(110, 170, 230);
}

/* Login Page ---------------------------------- */
.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.login-body-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box-container {
  width: 500px;
  height: 300px;
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(110, 170, 230);
  border-radius: 5px;
}

.login-box-container img {
  width: 300px;
  height: 120px;
}

.login-box-container form {
  width: 100%;
  height: 100%;
  display: flex;
}

.login-input-container {
  width: 72%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-input {
  width: 100%;
  height: 40px;
}

.login-input:first-child {
  margin-bottom: 15px;
}

.login-input input {
  width: 100%;
  height: 60%;
  padding-left: 5px;
  margin-bottom: 3px;
  font-size: 15px;
  border: 1.5px solid rgb(110, 170, 230);
}

.login-input p {
  width: 100%;
  height: 20%;
  padding-left: 2px;
}

.login-input-text {
  font-size: 0px;
}

.login-input-text-error {
  font-size: 12px;
  color: rgb(155, 65, 65);
}

.login-button-container {
  width: 28%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.login-button-container button {
  width: 82px;
  height: 79px;
  margin-bottom: 16px;
  color: white;
  background-color: rgba(110, 170, 230, 0.8);
  border: none;
  font-size: 15px;
}
/* Main Controller ----------------------------- */
.main-controller-container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-controller-container h1 {
  width: 200px;
  height: 80px;
  line-height: 78px;
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.main-controller-container button {
  width: 30px;
  height: 30px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 50%;
  font-size: 12px;
  line-height: 12px;
}

.main-controller-container button:hover {
  background-color: rgb(50, 50, 50);
}

/* Calendar ------------------------------------ */
.calendar-container {
  width: 100%;
  height: 100%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-inner-container {
  width: 100%;
  height: 100%;
  border-left: 2px solid rgb(70, 125, 155);
  border-top: 2px solid rgb(70, 125, 155);
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}

.calendar-button {
  position: relative;
  width: calc(100% / 7);
  height: calc(100% / 6);
}

.invisible-text {
  visibility: hidden;
}

.visible-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  pointer-events: none;
}

.visible-text p {
  padding-right: 5%;
  padding-bottom: 2%;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.visible-text p.blue-visible-text {
  color: rgb(100, 100, 255);
}

.visible-text p.red-visible-text {
  color: rgb(255, 100, 100);
}

.calendar-button button {
  width: 100%;
  height: 100%;
  padding: 5%;
  font-size: 16px;
  font-weight: bold;
  border-left: none;
  border-right: 2px solid rgb(70, 125, 155);
  border-top: none;
  border-bottom: 2px solid rgb(70, 125, 155);
  background-color: white;
  display: flex;
  justify-content: left;
  align-items: start;
}

.invisible-button {
  font-size: 0;
  pointer-events: none;
}

.red-button {
  color: red;
}

.blue-button {
  color: blue;
}

/* Main Page ----------------------------------- */
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Detail Controller --------------------------- */
.detail-controller-container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-controller-container h1 {
  width: 280px;
  height: 80px;
  line-height: 78px;
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.detail-controller-container button {
  width: 30px;
  height: 30px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 50%;
  font-size: 12px;
  line-height: 12px;
}

.detail-controller-container button:hover {
  background-color: rgb(50, 50, 50);
}

/* List ---------------------------------------- */
.list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.list-inner-container {
  width: 700px;
  height: 100%;
  margin-top: 1%;
  margin-bottom: 5%;
  border: 1.5px solid rgb(55, 145, 230);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.list-data-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* List Switch Button -------------------------- */
.list-switch-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.list-switch-container button {
  width: 350px;
  height: 100%;
  border: none;
  border-bottom: 1.5px solid rgb(55, 145, 230);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  color: rgba(40, 100, 150, 0.5);
  background-color: white;
}

.list-switch-container button:hover {
  background-color: rgba(55, 145, 230, 0.2);
}

.list-switch-container button:first-child {
  border-right: 1.5px solid rgb(55, 145, 230);
}

.list-switch-container button.switch-clicked {
  color: rgb(40, 100, 150);
  background-color: rgba(55, 145, 230, 0.2);
}

/* List Button --------------------------------- */
.list-button-container {
  width: 700px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-text {
  position: absolute;
  width: 700px;
  height: 70px;
  display: flex;
  pointer-events: none;
  z-index: 2;
}

.list-text p {
  width: 120px;
  height: 70px;
  color: rgb(40, 100, 150);
  font-size: 17px;
  line-height: 70px;
  text-align: center;
}

.list-text p:nth-child(2) {
  width: 440px;
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid rgb(55, 145, 230);
}

.list-text p:last-child {
  width: 140px;
  padding-right: 20px;
  font-size: 16px;
  text-align: right;
}

.list-button-container button {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: white;
  border: none;
  border-bottom: 1.5px solid rgb(55, 145, 230);
  z-index: 1;
}

.list-button-container button.selected-list {
  background-color: rgba(55, 145, 230, 0.1);
}

/* List Edit form ------------------------------ */
.list-form {
  width: 100%;
  height: 70px;
  padding: 20px;
  padding-bottom: 0;
  border-top: 1.5px solid rgb(55, 145, 230);
  display: flex;
  justify-content: space-between;
}

.list-input {
  width: 30%;
  height: 25px;
  display: flex;
  justify-content: left;
}

.list-input p {
  height: 100%;
  color: rgb(40, 100, 150);
  font-size: 15px;
}

.list-input input {
  width: 100%;
  height: 100%;
  margin-left: 8px;
  border: 1px solid rgb(55, 145, 230);
}

.list-form-button-container {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: right;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.list-form-button-container button {
  width: 60px;
  height: 30px;
  margin-left: 15px;
  font-size: 13px;
  font-weight: bold;
  color: rgb(40, 100, 150);
  background-color: white;
  border: 1px solid rgb(55, 145, 230);
  border-radius: 5px;
}

.list-form-button-container button:hover {
  background-color: rgba(55, 145, 230, 0.2);
}

.hidden-form {
  visibility: hidden;
}

/* List Edit Button ---------------------------- */
.list-edit-container {
  width: 100%;
  height: 50px;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

.list-edit-container button {
  width: 120px;
  height: 100%;
  margin-right: 50px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.8px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(55, 145, 230, 0.9);
}

.list-edit-container button:hover {
  background-color: rgb(110, 170, 230);
}

.list-edit-container button:last-child {
  margin-right: 0;
}

/* Detail Page---------------------------------- */
.detail-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Graph --------------------------------------- */
.graph-container {
  width: 100%;
  height: 100%;
  padding-top: 1%;
  padding-bottom: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph-info-container {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-info-container button {
  width: 70px;
  height: 40px;
  border: 1.5px solid rgb(40, 100, 150);
  border-radius: 0;
  font-size: 14px;
  font-weight: bold;
  color: rgb(40, 100, 150);
  background-color: white;
}

.graph-info-container button:hover {
  background-color: rgba(55, 145, 230, 0.2);
}

.graph-info-container button:nth-child(2) {
  border-right: none;
}

.graph-info-container p {
  width: 300px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  margin-left: 30px;
  color: rgb(40, 100, 150);
}

.graph-info-container button.graph-button-clicked {
  background-color: rgba(55, 145, 230, 0.2);
}

/* Stat Page ----------------------------------- */
.stat-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}